@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  line-height: 100%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: cadetblue;
  padding: clamp(1rem, 2vw, 4rem);
}

h1 {
  font-size: clamp(6rem, 10vw, 12rem);
  font-weight: 600;
  line-height: 100%;
}

h2 {
  font-size: clamp(3rem, 6vw, 8rem);
  line-height: 100%;
}

h2::first-letter {
  text-transform: capitalize;
}

a {
  color: #000;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  font-size: 14px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.author {
  width: 100%;
  text-align: right;
}

/* Form */
.search-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #000;
}

input[type="search"] {
  width: 100%;
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  font-size: clamp(3rem, 6vw, 8rem);
  border: none;
  padding-bottom: 8px;
  background: transparent;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  display: inline-block;
  height: 8px;
  text-transform: uppercase;
  line-height: 100%;
  background: transparent;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 20px 32px 32px 32px;
}

input[type="submit"]:hover {
  background: #000;
  color: white;
}

::placeholder {
  opacity: 0.3;
  color: #000;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Main */

main {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.temperature {
  display: flex;
  align-items: baseline;
}

.units {
  margin-left: -32px;
}

.units a {
  text-decoration: none;
}

.units a.active {
  text-decoration: none;
  font-weight: 800;
  opacity: 1;
  cursor: default;
}

.description {
  display: flex;
  gap: clamp(0.5rem, 2vw, 4rem);
  align-items: center;
  margin-bottom: 16px;
}

span#weather-icon {
  position: relative;
  top: 2px;
  font-size: clamp(3rem, 6vw, 8rem);
}

.temperature-details {
  display: flex;
  gap: 40px;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

/* Footer and forecast */

footer {
  border-top: 2px solid #000;
}

.forecast ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 16px 40px 8px 0;
}
